In [2]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

# Get csv data

In [3]:
data_age = "2018_states_by_age.csv"
age_df = pd.read_csv(data_age)
age_df.head()

,state,age,total_population,total_citizen_population,total_registered,percent_registered_total,margin_of_error,percent_registered_citizen,margin_of_error_2,total_voted,percent_voted_total,margin_of_error_3,percent_voted_citizen,margin_of_error_4
0,US,Total,249748,228832,153066,61.3,0.3,66.9,0.3,122281,49.0,0.3,53.4,0.3
1,US,18 to 24,28993,26950,13241,45.7,0.9,49.1,0.9,8726,30.1,0.8,32.4,0.9
2,US,25 to 34,44769,39280,23342,52.1,0.7,59.4,0.8,16545,37.0,0.7,42.1,0.8
3,US,35 to 44,40784,35403,23383,57.3,0.8,66.0,0.8,18041,44.2,0.8,51.0,0.8
4,US,45 to 64,83277,77085,55032,66.1,0.5,71.4,0.5,45829,55.0,0.5,59.5,0.5

In [13]:
data_sex = "2018_states_by_sex_race_hispanic_origin.csv"
sex_df = pd.read_csv(data_sex)
sex_df.head(100)

,state,sex_race_and_hispanic_origin,total_population,total_citizen_population,total_registered,percent_registered_total,margin_of_error,percent_registered_citizen,margin_of_error_2,total_voted,percent_voted_total,margin_of_error_3,percent_voted_citizen,margin_of_error_4
0,US,Total,249748,228832,153066.0,61.3,0.3,66.9,0.3,122281.0,49.0,0.3,53.4,0.3
1,US,Male,120573,110006,71726.0,59.5,0.4,65.2,0.4,56964.0,47.2,0.4,51.8,0.5
2,US,Female,129176,118826,81340.0,63.0,0.4,68.5,0.4,65317.0,50.6,0.4,55.0,0.4
3,US,White alone,194127,180522,123727.0,63.7,0.3,68.5,0.3,99255.0,51.1,0.3,55.0,0.4
4,US,White non-Hispanic alone,157610,154982,110054.0,69.8,0.4,71.0,0.4,89075.0,56.5,0.4,57.5,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,DELAWARE,Hispanic (of any race),73,52,27.0,B,B,B,B,20.0,B,B,B,B
96,DELAWARE,White alone or in combination,548,521,346.0,63.2,3.0,66.5,3.1,266.0,48.6,3.2,51.1,3.2
97,DELAWARE,Black alone or in combination,173,168,116.0,67.3,6.4,68.9,6.4,93.0,53.8,6.8,55.2,6.8
98,DELAWARE,Asian alone or in combination,43,31,15.0,B,B,B,B,11.0,B,B,B,B
99,DISTRICT OF COLUMBIA,Total,567,512,397.0,70.0,2.5,77.6,2.4,313.0,55.2,2.7,61.1,2.8

In [15]:
#if we need to merge the files here is the code, but we don't think we need it at this time
full_data = pd.concat([data_age,data_sex], axis=1)

full_data = pd.concat(
    map(pd.read_csv, [data_age,data_sex]), ignore_index=True)
#full_data.head()
#full_data.to_csv("full_data.csv")

### Push data to postgresql

In [25]:
engine = create_engine(f'postgresql://postgres:Nico100%@localhost:5432/vote_data')

# Save the data from dataframe to
# postgres table "iris_dataset"
age_df.to_sql(
    'age_dataset', 
    engine,
    index=False # Not copying over the index
)

ValueError: Table 'age_dataset' already exists.

In [26]:
engine = create_engine(f'postgresql://postgres:Nico100%@localhost:5432/vote_data')

# Save the data from dataframe to
# postgres table "iris_dataset"
sex_df.to_sql(
    'sex_dataset', 
    engine,
    index=False # Not copying over the index
)

ValueError: Table 'sex_dataset' already exists.

In [27]:
protocol = 'postgresql'
username = 'postgres'
password = 'Nico100%'
host = 'localhost'
port = 5432
database_name = 'vote_data'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [28]:
engine.table_names()

['age_dataset', 'sex_dataset']